<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sn.blesdk">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application>
        <service
            android:name=".service.SNBLEService"
            android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>
